<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[LegalManager.API]*,[LegalManager.Application]*,[LegalManager.Domain]*,[LegalManager.Infrastructure]*</Include>
          <Exclude>[LegalManager.Infrastructure]LegalManager.Infrastructure.Migrations.*,[LegalManager.Infrastructure]LegalManager.Infrastructure.Tribunais.Dje.*,[LegalManager.Infrastructure]LegalManager.Infrastructure.Storage.OciStorageService,[LegalManager.API]Program</Exclude>
          <ExcludeByFile>**/Migrations/*.cs,**/Migrations/*.Designer.cs</ExcludeByFile>
          <ExcludeByAttribute>ExcludeFromCodeCoverageAttribute,GeneratedCodeAttribute</ExcludeByAttribute>
          <SingleHit>false</SingleHit>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <SkipAutoProps>true</SkipAutoProps>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>